{% extends 'base.html' %}

{% block content %}

    <h4 class="blue-text">"Don't check me . . . check the air quality" - Larry June</h4>
    <br>
    <p class="blue-text">Welcome to Breathe Deeper! This is a website designed for Californians or those looking to visit California in order to track the air quality across the state. You can create profiles for different purposes and add the necessary cities from our growing list! On your profiles you can also create logs for your selected dates and track the air quality for the day based on whether you should "Breathe Deeper", "Don't Inhale", or "Mask Up!". We recommend you correlate the choices according to Air Quality Index guidlines, with an AQI of 0-75 equating to "Breathe Deeper", 76-150 as 'Don't Inhale", and >151 as "Mask Up!". With wildfires almost perpetually upon us, it's more important than ever to track local air quality as well as across the state for traveling or escaping poor air quality! Please sign up or log in so you can begin tracking AQI's for your respiratory health!</p>

{% endblock %}